<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>
 <title><%=luci.sys.hostname()%> - <%= title or translate("Rebooting...") %></title>
 <script type="text/javascript">//<![CDATA[
   var interval = window.setInterval(function() {
     var img = new Image();
     var target = ('https:' == document.location.protocol ? 'https://' : 'http://') + <%=addr and "'%s'" % addr or "window.location.host"%>;

     img.onload = function() {
       window.clearInterval(interval);
       window.location.replace(target);
     };

     img.src = target + '<%=resource%>/icons/loading.gif?' + Math.random();

   }, 5000);
 //]]>
 </script>
 <h2 name="content" id="Wizard_Complete"><%= title or translate("Rebooting...") %></h2>
 <div class="applyreboot-page-text">
   <%= msg or translate("Changes applied.") %>
   <div>
     <img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>"/>
   </div>
 </div>
<%+footer%>