<%+cbi/valueheader%>
	<%- if self.password then -%>
		<input type="password" style="position:absolute; left:-3000px" aria-hidden="true"<%=
			attr("name", "password." .. cbid)
		%> />
	<%- end -%>
	<input data-update="change"<%=
		attr("id", self.id or cbid) ..
		attr("name", cbid) ..
		attr("type", self.password and "password" or "text") ..
		attr("class", self.password and "form-control cbi-input-password" or "form-control") ..
		attr("value", self:cfgvalue(section) or self.default) ..
		ifattr(self.validator_pattern, "pattern", self.validator_pattern) ..
		ifattr(self.validator_minlength, "data-minlength", self.validator_minlength) ..
		ifattr(self.password, "autocomplete", "new-password") ..
		ifattr(self.size, "size") ..
		ifattr(self.placeholder, "placeholder") ..
		ifattr(self.readonly, "readonly") ..
		ifattr(self.maxlength, "maxlength") ..
		ifattr(self.datatype, "data-type", self.datatype) ..
		ifattr(self.datatype, "data-optional", self.optional or self.rmempty) ..
		ifattr(self.combobox_manual, "data-manual", self.combobox_manual) ..
		ifattr(#self.keylist > 0, "data-choices", { self.keylist, self.vallist })
	%> />
	<%- if self.password then -%>
		<i id="revealpass" class="fa fa-eye fa-lg" aria-hidden="true" style="vertical-align:middle;cursor:pointer" title="Reveal/hide password" onclick="var e = this.previousElementSibling; e.type = (e.type === 'password') ? 'text' : 'password'" ></i>
	<% end %>

	<% if self.validator_minlength then %>
		<div class="help-block">Minimum of <%=self.validator_minlength%> characters</div>
	<% end %>

	<% if self.validator_help  then %>
			<div class="help-block"><%=self.validator_help%></div>
	<% end %>
<%+cbi/valuefooter%>
